<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=dayName%></h1>
    </div>

    <div class="box">
        <% var i=0; %>
        <% while(i < items.length) {%>
        <% var item = items[i]; %>
        <div class="item">
            <input type="checkbox">
            <p><%=item %></p>
        </div>
        <% i++; %>
        <% } %>
        
        
        <form action="/" method="post">
            <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
            <button type="submit" name="addButton">+</button>
        </form>
    </div>
</body>
</html>